/*Big tablet to 1200*/
@media only screen and (max-width: 1200px) {
.navbar {
    background-color: transparent;
    border-color: transparent;

}

.navbar .navbar-expand-lg{
    color: white;
}

h1{
    font-size: 190%;
}
}

/*small tablet to big tablet*/
@media only screen and (max-width: 1023px) {
    @keyframes slideLeft {
        from {
            transform: translateX(4%);
        }
    
        to {
            transform: translateX(-4%);
        }
    }

    h1 {
        font-size: 160%;
        font-weight: 800;
    }

    .section-testimonial .card .box.back .fa-quote-left {
        position: absolute;
        top: 25px;
        left: 125px;
        font-size: 3.2rem;
    }
    h2 {
        font-size: 130%;
    }

    #program .card-img-top {
        object-fit: cover; width: 100%;
        height: 100px;
    }

    #team .card-img-top {
        object-fit: cover; width: 100%; height: 250px;
    }

    .section-about-us p {
        font-size: 95%;
        line-height: 140%;
    }

    .adminrow {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .section-footer {
        margin-bottom: 2rem;
    }

    header {
        height: 80vh;
    }

    /* button */
.btn:link,
.btn:visited,
input[type=submit] {
    margin-top: 0;
}


/* Adjusting header box positions */
#header-box {
    top: 55%; /* Adjust top position as needed */
    transform: translateY(-55%); /* Adjust for vertical centering */
}

#header-box2 {
   
    top: 55%; /* Adjust top position as needed */
    transform: translateY(-55%); /* Adjust for vertical centering */
}

.card-img-top {
    object-fit: cover; width: 100%; height: 300px;
    
}

}


@media only screen and (max-width: 992px){

    #program .card-img-top {
        object-fit: cover; width: 100%;
        height: auto;
    }

    .center-mobile-view {
        text-align: center;
        margin: 0 auto;
    }
    h2 {
        font-size: 150%;
        margin-bottom: 2rem;
       }

       #team .card-img-top {
        object-fit: cover; width: 100%; height: 400px;
    }
    
}

/*small phone to small tablet*/
@media only screen and (max-width: 767px) {

    #program .card-img-top {
        object-fit: cover; width: 100%;
        height: auto;
    }

    .mainnav li:hover,
.mainnav li:visited {
 border-bottom: 2px solid transparent;
}

h1 {
    font-size: 180%;
    font-weight: 700;    
}

.btn:link,
.btn:visited,
input[type=submit] {
    margin-top: -2rem;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    padding: 5px 15px;
}

#header-box {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#header-box2 {
    width: 100%;
    top: 90%;
}

header{
    height: 125vh;
}

h2 {
    font-size: 110%;
    margin-bottom: 2rem;
   }

.center-mobile-view {
    text-align: center;
    margin: 0 auto;
}

.section-about-us h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.aboutp {
    margin-bottom: 2rem;
}
.btn-more:link,
.btn-more:visited {
    color: #0259f0;    
}

.btn-more:hover,
.btn-more:active {
    background-color: #0259f0;
    color: white;
}

#team .card  {
    height: auto;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0;
    padding-bottom: 0;
}
 .card-body {
    margin-bottom: 0;
    padding-bottom: 0;
}
.section-testimonial .card .box.back .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 240px;
    font-size: 3.2rem;
}
#team .card-img-top {
    object-fit: cover; width: 100%; height: 400px;
}
}

/*small phone from 480px*/
@media only screen and (max-width: 480px) {

    #program .card-img-top {
        object-fit: cover; width: 100%;
        height: auto;
    }

    .mainnav li:hover,
.mainnav li:visited {
 border-bottom: 2px solid transparent;
}

#header-box2 {
    position: absolute;
    width: 100%;
    top: 90%;
    left: 17%;
}

header{
    height: 125vh;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 120%;
}

#team .card-img-top {
    object-fit: cover; width: 100%; height: 400px;
}
    
}