* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*logo*/
.logo {
    height: 4rem;
    width: auto;
}

html, 
body {
    background-color: #fff;
    color: #050612;
    font-family: 'Lato', 'Arial', 'Sans'; 
    font-weight: 400;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

/* background image */
/* header text */
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(15, 179, 233, 0.872), rgba(4, 39, 100, 0.643)), url(../uploads/img/equality.jpg);
    background-position: top;
    height: 95vh;
    background-attachment: fixed;
    background-size: cover;
}

.header-box {
    z-index: 1; /* Set a z-index to position the text above the navbar */
    color: #fff; /* Example text color */
}


.navbar {
    position: fixed; /* Fix the navbar at the top of the viewport */
    width: 100%; /* Occupy full width of the viewport */
    top: 0; /* Position it at the top */
    z-index: 2; /* Set a higher z-index to position the navbar above other content */
}




/* header one */
h1 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #fff;
    font-size: 250%;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 4px;
    
}

/*section*/
section{
    margin-top: 2rem;
    margin-bottom: 3rem;
}


/* Header two */
h2 {
    margin-bottom: 3rem;
    font-size: 180%;
    font-weight: 700;
    word-spacing: 4px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    
   

   }

   h2::after{
    height: 2px;
    background-color: #e67e22;
    display: block;
    content: "";
    width: 150px;
    margin: 15px auto 0 auto;

}

/*nav bar */
.mainnav li:hover,
.mainnav li:visited {
 border-bottom: 2px solid #67bdcc;
 font-size: 120%;
}



.intro p {
    font-size: 105%;
    line-height: 160%;
    font-weight: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

/* about us*/
.section-about-us p {
    font-size: 105%;
    line-height: 160%;
    font-weight: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}
.section-about-us h3{
    padding-left: 1rem;
}

/* activities Section */

#section-activities{
    background-image: linear-gradient(rgba(15, 179, 233, 0.872),
    rgba(4, 39, 100, 0.643)),
   url(../uploads/img/review.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#section-activities h2 {
    color: white;
    padding-top: 3rem;
}
.over{
    overflow-y: scroll;
    height: 30vh;
}

#section-activities .card-title {
    font-size: 95%;
    font-weight: 800;
}

#program {
  animation: slideLeft 5s linear infinite alternate;
  padding-bottom: 3rem;
}
@keyframes slideLeft {
    from {
        transform: translateX(10%);
    }

    to {
        transform: translateX(-10%);
    }
}

#program:hover {
    animation-play-state: paused;
}

#program .card:hover{
    transform: scale(1.05);
}

/*footer*/

.section-footer a {
    color: white;
    text-decoration: none;
}
.section-footer {
margin-top: -2rem;
margin-bottom: 0rem;
}
.section-footer a:hover {
background-color: #fff;
color: #0259f0;
}

/* core value */
#corevalue {
    background-image: linear-gradient(rgba(15, 179, 233, 0.872),
    rgba(4, 39, 100, 0.643)), 
   url(../uploads/img/corevalue.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
   
}

#corevalue p {
    font-size: 105%;
    line-height: 140%;
    font-weight: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

#corevalue img {
    padding-right: 1rem;
}
#corevalue h3{
    padding-left: 1rem;
}
#corevalue h2{
    padding-top: 2rem;
}
#corevalue .container {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px rgba(27, 27, 28, 0.3);
   
    
}
